# Prerequisites
src/HPAS/*.d

# Compiled Object files
src/HPAS/*.slo
src/HPAS/*.lo
src/HPAS/*.o
src/HPAS/*.obj

# Precompiled Headers
src/HPAS/*.gch
src/HPAS/*.pch

# Compiled Dynamic libraries
src/HPAS/*.so
src/HPAS/*.dylib
src/HPAS/*.dll

# Fortran module files
src/HPAS/*.mod
src/HPAS/*.smod

# Compiled Static libraries
src/HPAS/*.lai
src/HPAS/*.la
src/HPAS/*.a
src/HPAS/*.lib

# Executables
src/HPAS/*.exe
src/HPAS/*.app

# http://www.gnu.org/software/automake

src/HPAS/Makefile.in
src/HPAS/ar-lib
src/HPAS/mdate-sh
src/HPAS/py-compile
src/HPAS/test-driver
src/HPAS/ylwrap

# http://www.gnu.org/software/autoconf

src/HPASautom4te.cache
src/HPAS/autoscan.log
src/HPAS/autoscan-*.log
src/HPAS/aclocal.m4
src/HPAS/compile
src/HPAS/config.guess
src/HPAS/config.h.in
src/HPAS/config.log
src/HPAS/config.status
src/HPAS/config.sub
src/HPAS/configure
src/HPAS/configure.scan
src/HPAS/depcomp
src/HPAS/install-sh
src/HPAS/missing
src/HPAS/stamp-h1

# https://www.gnu.org/software/libtool/

src/HPAS/ltmain.sh

# http://www.gnu.org/software/texinfo

src/HPAS/texinfo.tex

# http://www.gnu.org/software/m4/

src/HPAS/m4/libtool.m4
src/HPAS/m4/ltoptions.m4
src/HPAS/m4/ltsugar.m4
src/HPAS/m4/ltversion.m4
src/HPAS/m4/lt~obsolete.m4

# Manually added
src/HPAS/build-aux/
src/HPAS/.deps/
src/HPAS/.dirstamp
src/HPAS/*~
src/HPAS/Makefile
src/HPAS/hpas
src/HPAS/hpas-*.tar.gz
src/HPAS/config.h
src/HPAS/bin
.idea/

#Output files
src/HPAS/*.out
src/HPAS/CoMD*.yaml
src/HPAS/results.yaml
src/HPAS/clover.in.tmp
src/HPAS/*.log
src/HPAS/__pycache__/
