# Prerequisites
src/HPAS-master/*.d

# Compiled Object files
src/HPAS-master/*.slo
src/HPAS-master/*.lo
src/HPAS-master/*.o
src/HPAS-master/*.obj

# Precompiled Headers
src/HPAS-master/*.gch
src/HPAS-master/*.pch

# Compiled Dynamic libraries
src/HPAS-master/*.so
src/HPAS-master/*.dylib
src/HPAS-master/*.dll

# Fortran module files
src/HPAS-master/*.mod
src/HPAS-master/*.smod

# Compiled Static libraries
src/HPAS-master/*.lai
src/HPAS-master/*.la
src/HPAS-master/*.a
src/HPAS-master/*.lib

# Executables
src/HPAS-master/*.exe
src/HPAS-master/*.app

# http://www.gnu.org/software/automake

src/HPAS-master/Makefile.in
src/HPAS-master/ar-lib
src/HPAS-master/mdate-sh
src/HPAS-master/py-compile
src/HPAS-master/test-driver
src/HPAS-master/ylwrap

# http://www.gnu.org/software/autoconf

src/HPAS-masterautom4te.cache
src/HPAS-master/autoscan.log
src/HPAS-master/autoscan-*.log
src/HPAS-master/aclocal.m4
src/HPAS-master/compile
src/HPAS-master/config.guess
src/HPAS-master/config.h.in
src/HPAS-master/config.log
src/HPAS-master/config.status
src/HPAS-master/config.sub
src/HPAS-master/configure
src/HPAS-master/configure.scan
src/HPAS-master/depcomp
src/HPAS-master/install-sh
src/HPAS-master/missing
src/HPAS-master/stamp-h1

# https://www.gnu.org/software/libtool/

src/HPAS-master/ltmain.sh

# http://www.gnu.org/software/texinfo

src/HPAS-master/texinfo.tex

# http://www.gnu.org/software/m4/

src/HPAS-master/m4/libtool.m4
src/HPAS-master/m4/ltoptions.m4
src/HPAS-master/m4/ltsugar.m4
src/HPAS-master/m4/ltversion.m4
src/HPAS-master/m4/lt~obsolete.m4

# Manually added
src/HPAS-master/build-aux/
src/HPAS-master/.deps/
src/HPAS-master/.dirstamp
src/HPAS-master/*~
src/HPAS-master/Makefile
src/HPAS-master/hpas
src/HPAS-master/hpas-*.tar.gz
src/HPAS-master/config.h
src/HPAS-master/bin
.idea/

#Output files
src/HPAS-master/*.out
src/HPAS-master/CoMD*.yaml
src/HPAS-master/results.yaml
src/HPAS-master/clover.in.tmp
src/HPAS-master/*.log
src/HPAS-master/__pycache__/
